body {
  margin: 0px;
  padding: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #32a84e;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jumbotron {
  background-color: #000000;
  border-radius: 6px ;
  margin: 2px;
  padding: 25px;
}

.jumbotron h1 {
  display: flex;
  justify-content: center;
}

.lead {
  display: flex;
}

.card {
  width: 20rem;
  height: 20rem;
  margin: 10px;
}

img {
  float: left;
  margin-right: 10px;
  border-radius: 4px;
  padding: 5px;
  height: 300px;
  width: 300px;
}

.skills-container {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.skills-container img {
  height: 100px;
  width: 100px;
  padding: 5px;
}

.contact td {
  display: grid;
  margin-bottom: 10px;
}